footer {
    background-color: #F2F2F2;
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subcontainer {
    display: flex;
    width: 100%;
    padding: 20px 20px 20px 10px;
    flex-direction: column;
}
h4 {
    padding-bottom: 15px;
    ;
}
footer li {
    list-style: none;
    padding-bottom: 3px;
}
footer a:hover {
    color:black;
}

/*================MEDIA===================*/


@media only all and (max-width: 768px){
.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding:0;
}
.subcontainer {
    width: 100%;
    padding: 20px 20px 20px 30px;
}
}
